<ion-header>
    <app-header [headerTitle]="pageTitle">loaing header...</app-header>
</ion-header>
<ion-content padding>
    <app-side-menu>side menu loading...</app-side-menu>
    <ion-item>
        <ion-grid style="border:solid;border-color: #add8e6;">
            <ion-row>
                <ion-col col-2>#</ion-col>
                <ion-col col-6>Name</ion-col>
                <ion-col col-4>IP Address</ion-col>
            </ion-row>
            <ion-row *ngFor="let item of displayAssets; let k = index">                
                <ion-col col-2>
                    {{k+1}}
                </ion-col>
                <ion-col col-6>
                    <ion-row>
                        <ion-icon color="primary" [name]="item.children == undefined || isAssetsShown(item) ? 'remove' : 'add'" (click)="toggleAssets(item)"
                            [ngClass]="{active: isAssetsShown(item)}"></ion-icon>
                        {{item.name}}
                    </ion-row>
                    <ion-row *ngFor="let childrenIitem of item.children; let j = index" [hidden]="!isAssetsShown(item)" (click)="toggleChildren(childrenIitem)"
                        [ngClass]="{active: isChildrenShown(childrenIitem)}">
                        <ion-icon color="primary" [name]="childrenIitem.children.length < 1 || isChildrenShown(childrenIitem) ? 'remove' : 'add'"></ion-icon>
                        {{childrenIitem.description}}
                        <br />
                        <br/>
                        <ion-row *ngFor="let childrenitem of childrenIitem.children; let i = index" [hidden]="!isChildrenShown(childrenIitem)">
                            {{childrenitem.name}}
                            <br />
                        </ion-row>
                    </ion-row>

                </ion-col>
                <ion-col col-4>{{item.ip}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <!--<ion-list>
        <ion-item>
            <table border="1">
                <tr>
                    <th># </th>
                    <th>Key </th>                    
                    <th> value</th>
                </tr>
                <tr *ngFor="let res of displayResult; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{res.name}}</td>                    
                    <td>{{res.data}}</td>
                </tr>
            </table>
        </ion-item>
    </ion-list>    -->
</ion-content>
<nav-footer>loading nav footer</nav-footer>